---
apiVersion: v1
kind: Pod
metadata:
  name: etcd
  namespace: kube-system
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
  - name: etcd
    image: quay.io/coreos/etcd:v3.5.16{% if ansible_architecture == 'aarch64' or ansible_architecture == 'arm64' %}-arm64{% endif %}
    command:
      - etcd
      - --name={{ ansible_hostname }}
      - --data-dir=/var/lib/etcd
      - --listen-client-urls=https://0.0.0.0:2379
      - --advertise-client-urls=https://{{ ansible_host }}:2379
      - --listen-peer-urls=https://{{ ansible_host }}:2380
      - --initial-advertise-peer-urls=https://{{ ansible_host }}:2380
      - --initial-cluster={% for host in groups['etcd_nodes'] %}{{ hostvars[host].ansible_hostname }}=https://{{ hostvars[host].ansible_host }}:2380{% if not loop.last %},{% endif %}{% endfor %}

      - --initial-cluster-token=etcd-cluster-token
      - --initial-cluster-state={{ etcd_cluster_state }}
      - --client-cert-auth=true
      - --trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
      - --cert-file=/etc/kubernetes/pki/etcd/{{ ansible_hostname }}.crt
      - --key-file=/etc/kubernetes/pki/etcd/{{ ansible_hostname }}.key
      - --peer-client-cert-auth=true
      - --peer-trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
      - --peer-cert-file=/etc/kubernetes/pki/etcd/{{ ansible_hostname }}-peer.crt
      - --peer-key-file=/etc/kubernetes/pki/etcd/{{ ansible_hostname }}-peer.key
    volumeMounts:
    - name: etcd-data
      mountPath: /var/lib/etcd
    - name: etcd-pki
      mountPath: /etc/kubernetes/pki/etcd
      readOnly: true
  volumes:
  - name: etcd-data
    hostPath:
      path: /var/lib/etcd
      type: DirectoryOrCreate
  - name: etcd-pki
    hostPath:
      path: /etc/kubernetes/pki/etcd
      type: Directory